<div class="homePage">
  <h2>Edit or Update Your Post</h2>
  <%= form_with(model: @post, url: user_post_path(@current_user[:id], @post), local: true) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="actions">
      Subject <br> <%= form.text_field :title, :id => "postStyleOne" %><br> <br>
      Content <br> <%= form.text_area :content, :id => "postStyleTwo" %><br>
      <%= form.hidden_field :user_id, value: @current_user[:id] %>
      <%= form.submit "SUBMIT", :class => "buttonStyle" %>
    </div>
  <% end %><br>
  <%= link_to 'Back', user_posts_path, :class => "backButtons" %>
</div>
